<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
    <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
        <targets>
            <target xsi:type="File"
                    name="file"
                    layout="${longdate} [${level}] ${message}"
                    fileName="${basedir}\log\${processname}_${date:format=yyyyMMdd}.log"/>
            <target xsi:type="Console"
                    name="cmd"
                    layout="${longdate} [${level}] ${message}"/>
        </targets>
        <rules>
            <logger name="Debug" levels="Trace,Debug,Info,Warn,Error,Fatal" writeTo="file,cmd" />
            <logger name="Release" levels="Error,Fatal" writeTo="file" />
        </rules>
    </nlog>
</configuration>